.Footer {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 100px;
  padding-bottom: 60px;
}
.Footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.Footer img {
  width: 120px;
  margin-top: 30px;
}
.Footer a {
  color: var(--color-text2);
  margin-top: 100px !important;
  font-size: 15px;
}
.Footer .link {
  margin-top: 10px;
}
.Footer h3 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
.Footer h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-text);
}
.Footer h6 {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: var(--color-text);
}
.Footer p {
  color: var(--color-text2);
  font-size: 14px;
  line-height: 2;
}
.flx {
  display: flex;
}
.flx a {
  margin-left: 10px;
  margin-right: 10px;
}
