.nav {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a:global(.active) {
  color: var(--primary-color);
}
.nav a {
  color: var(--color-text);
}
.menu {
  display: flex;
}
.menu li {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: var(--color-text);
}
.menu li:hover {
  color: var(--primary-color) !important;
}
