.ready {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.ready .grid {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 70px 60px;
  background-color: transparent;
}
.ready .grid h3 {
  font-size: 38px;
  color: var(--color-text);
}
.ready .grid h6 {
  font-size: 18px;
  margin-top: 10px;
  color: var(--color-text);
}
.ready .flex {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.ready p {
  margin-left: 8px;
  color: var(--color-text);
}
.ready span {
  color: var(--primary-color);
}
